.bluetext{
  color: blue;
}

.hulk{
  font-size: 3em;
}

.addborder {
  border: 3px solid red;
}

.rounding {
  border-radius: 20px;
}

article section:first-child {
  font-weight: 800;
}

article section:last-child{
  font-weight: 800;
  font-style: italic;
}

button {
  display: block;
}